@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fallDonut {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(500%);
    opacity: 0;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(-100px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(100px) rotate(-180deg);
  }
  100% {
    transform: translateX(0) rotate(-360deg);
  }
}
